<div id="wrapper">
    <app-navbar></app-navbar>
    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: home -->
        <section id="home" class="divider">
            <div class="container-fluid p-0">
                <div class="heading" style="position:absolute;top:70vh;padding-left:20px;font-size:55px;color:white">Blockathon For Change</div>
                <div class="title" style="position:absolute;top:83vh;padding-left:20px;font-size:20px;color:white">Solution for Societal Issues of Migrant Labour by Leveraging Block Chain Technology</div>
                <img src="assets/images/bg/bg6.jpg" alt="">
            </div>
        </section>
        <!-- Section: featured project -->
    </div>
    <!-- end main-content -->
</div>
