<div id="wrapper">


    <app-navbar></app-navbar>

    <!-- Start main-content -->
    <div class="main-content">


        <!-- Section: Contact -->
        <section id="contact">
            <div class="container pt-70">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="text-uppercase mt-0">Contact Us</h3>
                            <div class="title-icon">
                                <i class="flaticon-charity-hand-holding-a-heart"></i>
                            </div>
                            <p>Send us a message</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="icon-box left media bg-deep p-30 mb-20">
                                        <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored"></i></a>
                                        <div class="media-body"> <strong>LOCATION</strong>
                                            <p>Makers village, Kochi</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="icon-box left media bg-deep p-30 mb-20">
                                        <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored"></i></a>
                                        <div class="media-body"> <strong>PHONE</strong>
                                            <p>123 456 789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="icon-box left media bg-deep p-30 mb-20">
                                        <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored"></i></a>
                                        <div class="media-body"> <strong>E-MAIL</strong>
                                            <p>user@email.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!-- Contact Form -->
                            <form id="contact_form" name="contact_form" class="">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_name">Name <small>*</small></label>
                                            <input id="form_name" name="form_name" class="form-control" type="text" placeholder="Enter Name" required="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_email">Email <small>*</small></label>
                                            <input id="form_email" name="form_email" class="form-control required email" type="email" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_name">Subject <small>*</small></label>
                                            <input id="form_subject" name="form_subject" class="form-control required" type="text" placeholder="Enter Subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_phone">Phone</label>
                                            <input id="form_phone" name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="form_name">Message</label>
                                    <textarea id="form_message" name="form_message" class="form-control required" rows="5" placeholder="Enter Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                                    <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5" data-loading-text="Please wait...">Send your message</button>
                                    <button type="reset" class="btn btn-default btn-flat btn-theme-colored">Reset</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Section: featured project -->
        <!-- <section id="features" class="bg-lightest">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h4 class="text-uppercase line-bottom mt-0">Featured Project</h4>
                        <div class="featured-project-carousel owl-nav-top">
                            <div class="item">
                                <div class="causes bg-lighter box-hover-effect effect1 sm-maxwidth500 mb-sm-30">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="assets/images/photos/featured1.jpg">
                                    </div>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-0">
                                            <div class="progress-bar" data-percent="85"></div>
                                        </div>
                                    </div>
                                    <div class="causes-details clearfix border-bottom p-15 pt-10">
                                        <p class="mb-5 mt-5"><span class="text-uppercase text-theme-colored"><strong>Charity Hospital:</strong></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.</p>
                                        <div class="donate-details">
                                            <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-5" href="#">Donate</a>
                                            <ul class="pull-right list-inline mt-10">
                                                <li>Raised: $1890</li>
                                                <li>Goal: $2500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="causes bg-lighter box-hover-effect effect1 sm-maxwidth500 mb-sm-30">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="assets/images/photos/featured1.jpg">
                                    </div>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-0">
                                            <div class="progress-bar" data-percent="85"></div>
                                        </div>
                                    </div>
                                    <div class="causes-details clearfix border-bottom p-15 pt-10">
                                        <p class="mb-10 mt-5"><span class="text-uppercase text-theme-colored"><strong>Charity Hospital:</strong></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.</p>
                                        <div class="donate-details">
                                            <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                            <ul class="pull-right list-inline mt-15">
                                                <li>Raised: $1890</li>
                                                <li>Goal: $2500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="causes bg-lighter box-hover-effect effect1 sm-maxwidth500 mb-sm-30">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="assets/images/photos/featured1.jpg">
                                    </div>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-0">
                                            <div class="progress-bar" data-percent="85"></div>
                                        </div>
                                    </div>
                                    <div class="causes-details clearfix border-bottom p-15 pt-10">
                                        <p class="mb-10 mt-5"><span class="text-uppercase text-theme-colored"><strong>Charity Hospital:</strong></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi sunt illo.</p>
                                        <div class="donate-details">
                                            <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                            <ul class="pull-right list-inline mt-15">
                                                <li>Raised: $1890</li>
                                                <li>Goal: $2500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4 class="text-uppercase line-bottom mt-0">Became a Volunteer</h4>
                        <div class="volunteer-wrapper border-bottom sm-maxwidth500 clearfix pb-15 mb-sm-30">
                            <div class="fluid-video-wrapper">
                                <iframe src="http://player.vimeo.com/video/22029657?title=0&amp;byline=0&amp;portrait=0" height="190" title="Volunteer policy" allowfullscreen></iframe>
                            </div>
                            <p class="mb-5 mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quos aspernatur cupiditate commodi.</p>
                            <p>
                                <a href="#" class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10">Join Us</a>
                                <span class="pull-right ml-10 mt-12 font-14">volunteers</span>
                                <span class="animate-number pull-right font-20 text-theme-colored lineheight-20 mt-5" data-value="2598657" data-animation-duration="2500">0</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4 class="text-uppercase line-bottom mt-0">Events</h4>
                        <div class="bxslider bx-nav-top">
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event media sm-maxwidth400 p-10 mt-0 mb-15">
                                <div class="row">
                                    <div class="col-xs-8 p-0 pl-15">
                                        <div class="event-content">
                                            <h5 class="media-heading text-uppercase"><a href="#">Gear up for giving</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> at 5.00 pm - 7.30 pm</li>
                                                <li> <i class="fa fa-map-marker"></i> 25 Newyork City.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pr-0">
                                        <div class="event-date text-center">
                                            <ul>
                                                <li class="font-36 text-theme-colored font-weight-700">28</li>
                                                <li class="font-20 text-center text-uppercase">Feb</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Section: Causes -->
        <!-- <section id="causes">
            <div class="container pb-80">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="text-uppercase mt-0">Our Causes</h3>
                            <div class="title-icon">
                                <i class="flaticon-charity-hand-holding-a-heart"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="causes bg-lighter box-hover-effect effect1 maxwidth500 mb-sm-30">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="assets/images/project/1.jpg">
                            </div>
                            <div class="progress-item mt-0">
                                <div class="progress mb-0">
                                    <div class="progress-bar" data-percent="84"></div>
                                </div>
                            </div>
                            <div class="causes-details clearfix border-bottom p-15 pt-10">
                                <h5><a href="#">Sponsor a child today</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.</p>
                                <ul class="list-inline clearfix mt-20">
                                    <li class="pull-left pr-0">Raised: $1890</li>
                                    <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                                </ul>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                    <div class="pull-right mt-15"><i class="fa fa-heart-o text-theme-colored"></i> 89 Donors</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="causes bg-lighter box-hover-effect effect1 maxwidth500 mb-sm-30">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="assets/images/project/2.jpg">
                            </div>
                            <div class="progress-item mt-0">
                                <div class="progress mb-0">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="causes-details clearfix border-bottom p-15 pt-10">
                                <h5><a href="#">Sponsor a child today</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.</p>
                                <ul class="list-inline clearfix mt-20">
                                    <li class="pull-left pr-0">Raised: $1890</li>
                                    <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                                </ul>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                    <div class="pull-right mt-15"><i class="fa fa-heart-o text-theme-colored"></i> 89 Donors</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="causes bg-lighter box-hover-effect effect1 maxwidth500 mb-sm-30">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="assets/images/project/3.jpg">
                            </div>
                            <div class="progress-item mt-0">
                                <div class="progress mb-0">
                                    <div class="progress-bar" data-percent="86"></div>
                                </div>
                            </div>
                            <div class="causes-details clearfix border-bottom p-15 pt-10">
                                <h5><a href="#">Sponsor a child today</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.</p>
                                <ul class="list-inline clearfix mt-20">
                                    <li class="pull-left pr-0">Raised: $1890</li>
                                    <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                                </ul>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                    <div class="pull-right mt-15"><i class="fa fa-heart-o text-theme-colored"></i> 89 Donors</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="causes bg-lighter box-hover-effect effect1 maxwidth500 mb-sm-30">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="assets/images/project/4.jpg">
                            </div>
                            <div class="progress-item mt-0">
                                <div class="progress mb-0">
                                    <div class="progress-bar" data-percent="87"></div>
                                </div>
                            </div>
                            <div class="causes-details clearfix border-bottom p-15 pt-10">
                                <h5><a href="#">Sponsor a child today</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.</p>
                                <ul class="list-inline clearfix mt-20">
                                    <li class="pull-left pr-0">Raised: $1890</li>
                                    <li class="text-theme-colored pull-right pr-0">Goal: $2500</li>
                                </ul>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">Donate</a>
                                    <div class="pull-right mt-15"><i class="fa fa-heart-o text-theme-colored"></i> 89 Donors</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    </div>


</div>